<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title / Mor Takım Projesi BAMovie</title>
    @Styles.Render("~/Content/css")
    <!-- Custom Theme files -->
    @Scripts.Render("~/Content/js")
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Cinema, Movie Responsive web, Bootstrap" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- header-section-starts -->
    <div class="full">
        <div class="menu">
            <ul>

                <li><a class="active" href="@Url.Action("Index","Base")"><div class="video"><i class="videos"></i><i class="home"></i></div></a></li>
                <li><a href="@Url.Action("Login","User")"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
            </ul>
        </div>
        <div class="main">
            <div class="video-content">
                <div class="top-header span_top">
                    <div class="logo">
                        <a href="#"><img src="../../images/logo.png" alt="" /></a>
                        <p>Movie Theater</p>
                    </div>

                    <div class="clearfix"></div>
                </div>
                @RenderBody()
                @RenderSection("Body",false)
                <div class="clearfix"> </div>
            </div>
            <div class="footer">
                <h6>Developer Note : </h6>
                <p class="claim">Bilge Adam Proje Grubu Mor Takım Film Otomasyon Projesidir.</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
