@using ProjectTemplate.Core.Entities
@model IEnumerable<Student>
@Html.ActionLink("Yeni", "Edit", new { Id = 0 }) |||
@Html.ActionLink("Tümünü Getir", "Index")|||
@Html.ActionLink("Soyada Göre Öğrencileri Getir", "GetStudentsBySurname")

<br />
<br/>

<table border="1">
    <tr>
        <th>#</th>
        <th>#</th>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
    </tr>
    @foreach (Student st in Model)
    {
        <tr>
            <td>@Html.ActionLink("Güncelle", "Edit", new { st.Id })</td>

            <td>
                @using (Html.BeginForm("Delete", "Home", new { id = st.Id }))
                {
                    <input type="submit" value="Sil" />
                }
            </td>
            <td>@st.Id</td>
            <td>@st.Firstname</td>
            <td>@st.Lastname</td>
        </tr>
    }
</table>
