
@{
    ViewBag.Title = "_Writers";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using ProjectTemplate.Core.Entities;
@model List<Writer>

@section Body{
    <div class="right-content">
        <div class="right-content-heading">
            <div class="right-content-heading-left">
                <h3 class="head">Yazarlar</h3>
            </div>
        </div>
        <div class="content-grids">
            @foreach (Writer item in Model)
            {
                <div class="content-grid">
                    <a class="play-icon" href="@Url.Action("WriterDetail", "Writer")/@item.Id"><img src="@item.ImagePath" title="@item.Name" /></a>
                    <h3>@item.Name @item.Surname</h3>
                    <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Detay</a>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
}